@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Anton&family=Roboto+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
}
/*Static menu*/
.static-menu{
	height:100vh;
	width:50vh;
	text-align: center;
	background: rgba(27,18,15,0.7);
	position:fixed;
	right:0;
  padding-top: 20%;
}
.static-ul{
	list-style: none;
	font-size: 24px;
	color: white
}
.static-ul li{
	margin-bottom:30px;
}
.static-ul a{
	text-decoration: none;
	color: #fff;
	transition: 0.45s ease-in-out;
	font-family: Inconsolata , monospace;
}

/*Menu Icon*/
.container {
  display: inline-block;
  cursor: pointer;
  margin-right:30px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  transition:0.6s ease;
}
.toggleBackground{
  background: #1b120f;
  transition:0.6s ease;
}
#logo {
  font-size: 40px;
  margin-left: 40px;
  color: #fa7d09;
  font-family: "Amita", cursive;
}
#logo-span {
  color: #ff4301;
}
#list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.list-item {
  margin: 10px;
}
.list-item a {
  text-decoration: none;
  color: #fa7d09;
}
.list-item a:hover {
  color: #ff4301;
}
/* General Section */
.section {
  width: 100%;
  height: 100vh;
}
/* Home Section */
#home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/chai-background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#heading {
  font-size: 60px;
  color: #fa7d09;
  font-family: "Amita", cursive;
  transition:0.6s ease;
}
#heading-span {
  color:#ff4301;
}
#line {
  width: 300px;
  height:2px;
  background-color:white;
}
#sub-heading {
  font-size: 20px;
  color: #fa7d09;
  margin: 10px;
  transition:0.6s ease;
}
#tel {
  background: white;
  border-radius: 100%;
  transition:0.6s ease;
  padding: 8px;
}
#tel a {
  color: #ff4301;
  font-size: 30px;
  text-decoration: none;
}
#tel:hover {
  background:#ff4301;
  transition:0.6s ease;
}
#tel:hover a {
  color:white;
  transition:0.6s ease;
}
/* Media Queries */
@media screen and (max-width:540px){
  #logo{
    font-size:28px;
    margin-left:15px;
  }

  #line{
    width:150px;
  }
  #tel {
    padding:3px;
  }
  #tel a{
    font-size:10px;
  }
}
@media screen and (min-width:800px){
	.container{
		display: none;
	}
	.static-menu{
		display: none;
	}
}
@media screen and (max-width:799px){
	#list{
		display: none;
	}
  #heading{
    font-size:40px;
  }
  #sub-heading{
    font-size:15px;
  }
}